.Draggable .translate-box rect {
  stroke: steelblue;
  fill: transparent;
  stroke-width: 0.1;
  stroke-dasharray: 0.2, 0.2;
}

.Draggable .translate-box circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 0.2;
}
