.Field {
  height: 100vh;
  min-width: calc(100vh * 90 / 130);
  background-color: #7bb756;
}

.Field .line {
  fill: transparent;
  stroke: white;
  stroke-width: 0.3;
}

.Field .dashed-line {
  fill: transparent;
  stroke: white;
  stroke-width: 0.3;
  stroke-dasharray: 3;
}

.Field .posts {
  stroke: grey;
  stroke-width: 0.2;
  fill: white;
}
