.IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
}

.IconContainer span {
  margin-bottom: -0.125em;
}

.Icon {
  transform: scale(0.3);
  fill: white;
}
