.RotateHandler > path {
  stroke: white;
  fill: transparent;
  stroke-width: 0.1;
  stroke-dasharray: 0.2, 0.2;
}

.RotateHandler circle {
  fill: whitesmoke;
  stroke: white;
  stroke-width: 0.2;
}

.RotateHandler circle.transparent:hover,
.RotateHandler circle:hover {
  cursor: url(./redo.svg), auto;
}

.RotateHandler circle.transparent {
  fill: transparent;
  stroke: transparent;
}
